*{
  font-family: 'Open Sans', sans-serif;
}
html, body, #reactApp{
  width:100%;
  height:100%;
  margin: 0px;
}

body{
  overflow: hidden;
}

#reactApp{
  & > div{
    width:100%;
    height:100%;
  }
}