@listBorderColor: rgba(255,255,255,0.5);
@notificationTabColor: #26A69A;

*{
  font-family: 'Roboto', sans-serif;
}
html, body, #reactApp{
  width:100%;
  height:100%;
  margin: 0px;
}

html, body{
  overflow: hidden;
}

body{
  -webkit-font-smoothing: subpixel-antialiased;
}

#reactApp{
  & > div{
    width:100%;
    height:100%;
  }
}

.headerAvatar{
  margin-left: 10px;
}

.hasUnreadMessagesClass{
  animation: tabAnimation 3000ms linear infinite;
}

@keyframes tabAnimation {
  0% {background-color: transparent;}
  50% {background-color: @notificationTabColor}
  100% {background-color: transparent}
}


.subList{
  transition: all 250ms cubic-bezier(0.4, 0.0, 0.2, 1);
  & > div{
    border-left: 1px dashed;
    margin-left: 15px;
    border-bottom: 1px solid @listBorderColor !important;
    border-color: @listBorderColor;
  }
  & > div:last-child{
    border-bottom: none;
  }
  .urlListItem{
    & > div{
      & > div{
        display: flex;
        & > div:last-child{
          font-size: 10px !important;
          line-height: 20px !important;
          margin: 0px 0px 0px auto !important;
          color: rgba(255,255,255,0.95) !important;
          font-weight:300 !important;
        }
      }
    }
  }
}

.desktopRatingIcons{
  display:none;
}

.disableList{
  pointerEvents: all;
  button{
  opacity: 0.2;
  }
}

.loginForm{
  &.hidden{
    opacity: 0.1;
    pointer-events: none;
  }
  opacity:1;
  transition: all 250ms cubic-bezier(0.4, 0.0, 0.2, 1);
  input{
    transition: all 250ms cubic-bezier(0.4, 0.0, 0.2, 1);
    &:focus{
      //background-color: rgba(255,255,255,0.1) !important;
      background-color: #00695C !important;
      border: 1px solid #26A69A !important;
      color: #E0F2F1 !important;
    }
  }
}

.emailError, .passwordError{
  border-color: #F44336 !important;
  color: #F44336 !important;
}

.messageSnackBar{
  & > button{
    color: white !important;
  }
}

@media (max-width: 575px){
  .mainHeader{
    & > a{
      margin-left:20px !important;
    }
    .userBlock{
      margin-right: 0px !important;
    }
  }
  .lastHeaderIcon{
    margin-right: 10px !important;
    display: none !important;
  }
  .messagingContent{
    & > div:first-child{
      overflow: hidden !important;
    }
  }
  .iconsWrapper{
    display:none !important;
  }
  .headerRightIcons{
    right: 0 !important;
  }
  .homepageWrapper{
    & > div{
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%
    }
  }
}

@media (min-width: 576px){
  .mainHeader{
    & + div{
      & > div:last-child{
        height: 100% !important;
        & > div{
          height: 100%;
          & > div.tab{
            height: 100%;
          }
        }
      }
    }
  }
  .desktopRatingIcons{
    display: block;
  }
  .showMore{
    display:none !important;
  }
 .homepageWrapper{
   display: flex !important;
   & > div{
     display: flex !important;
     flex-direction: column;
     overflow-x: visible !important;
     width: 100% !important;
   }
 }
  .lastHeaderIcon{
    margin-right: 35px !important;
  }

  .messagesBack{
    display: none !important;
  }

  .headerAvatar{
    margin-left: 20px !important;
  }
  .mobileHeadIcons{
    display: none !important;
  }
}


@media (max-width: 647px){
  .formWrapper{
    form > div:first-child{
      width: 100% !important;
    }
  }
  .tabsBlock{
    & > div:first-child, & > div:nth-child(2){
      position: relative;
      z-index: 999;
    }
  }
  .mainHeader{
    position: relative;
    z-index: 999;
    a{
      margin-left: 0px !important;
    }
    & + div{
      height: 100%;
      & > div:last-child{
        height: 100%;
        & > div{
          height: 100%;
          & > .tab{
            height: 100%;
          }
        }
      }
    }
  }

  .tab{
    .leftSidebar{
      min-width: 100% !important;
      height: 100% !important;
      display: none !important;

      &.hideLeftSidebar{
        display: none;
      }
    }
  }
}
