@positiveRating: #FFC107;

.messagesListWrapper{
  min-height: calc(~"100% - 70px")
}

.messagesContainer{
  height: calc(100% - 171px) !important;
  //overflow-y: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

.hiddenControls{
  li{
    border-right: 1px solid #D9D7D7;
    &:last-child{
      border-right: none !important;
    }
  }
}

.positiveFeedback{
  color: @positiveRating !important;
}

.showHomepageInfo{
  & > div:first-child{
    overflow: hidden !important;
  }
}