.messagesListWrapper{
  //height: calc(100% - 50px);
  //height: calc(~"100% - 70px")
}

.messagesContainer{
  height: calc(100% - 171px) !important;
  overflow-y: scroll;
  overflow-x: hidden;
}

.hiddenControls{
  li{
    border-right: 1px solid #D9D7D7;
    &:last-child{
      border-right: none !important;
    }
  }
}