input{
  &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #4DB6AC;
    font-weight: 300;
  }
  &::-moz-placeholder { /* Firefox 19+ */
    color: #4DB6AC;
    font-weight: 300;
  }
  &:-ms-input-placeholder { /* IE 10+ */
    color: #4DB6AC;
    font-weight: 300;
  }
  &:-moz-placeholder { /* Firefox 18- */
    color: #4DB6AC;
    font-weight: 300;
  }
}

.formURL{
  width: calc(~"100% - 30px") !important;
}

@media (min-width: 576px){
  .formURL{
    width: 100% !important;
  }
  .messagesForward{
    display: none !important;
  }
}